

<h1 style="color:blueviolet">Session Simple</h1>
<p>
    <a asp-area="" asp-controller="EjemploSession" asp-action="SessionSimple" asp-route-accion="almacenar">ALMACENAR</a>
</p>
<p>
    <a asp-area="" asp-controller="EjemploSession" asp-action="SessionSimple" asp-route-accion="mostrar">MOSTRAR</a>
</p>


<h2 style="color:red">@ViewData["MENSAJE"] </h2>
<h2 style="color:mediumpurple">@ViewData["NOMBRE"] </h2>
<h2 style="color:goldenrod">@ViewData["HORA"] </h2>

